nav {
  width: 80%;
  margin: 50px auto;
  background: #fff;
  list-style: none;
position: fixed;
left: 50%;
transform: translateX(-50%);
padding: 20px;
border-radius: 16px;
  ul {
    display: flex;
    justify-content: space-between;

    li {
      list-style-type: none;
    }
  }
}
