nav{
    background-color: #fffffe ;
    width: 80%;
    min-width: 30%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 16px;
    margin-top: 10px;

   ul {
    display: flex;
    justify-content: space-around;

    li {
        list-style-type: none;
      
    }
   }
}