body {
    background: #004643;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 300vh;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    list-style: none;
    text-decoration: none;
}